/*body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{
    box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}


.nav {
    margin: 3%; 
    padding: 0;
    text-align: center;
    
}

.nav li {
    display: inline-block;

}

.nav a {
    color: black;
    display: inline-block;
    padding: 0.5em .75em;
    background-color: inherit;
    border-radius: 4px;
    text-decoration: none;

}

.nav a:hover{
    background-color: black;
    color: white;
}

/*.nav .current {
    background-color: black;
    color: white;
}*/

.active {
    background-color: black;
    color: white;
}

h1 {
    margin: 151px 0 0 0;
    text-align: center;
    font-size: 65px;
    font-family: Impact;
    color: #3D3D3D;
}

h6, h2{
    text-align: center;
    color: #494949;
    font-size: 40px;
}



.design{
    background: black;
    color: green;
}


.small{
    float: right;
    text-align: center;
}

.footer{
    position: absolute;
	left: 0;
	right: 0;
    bottom: 0;
    margin-bottom: 2%;
	color: #eee;
    text-align: center;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}

.footer a{
    margin: 10px 10px 20px 10px;
}

ul {
    list-style-type: none;
}



.portfolio {
    max-width: 90%;
}

.portfolio::after {

  display: block;
}

.project{
    display: block;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

a{
    text-decoration: none;
    color: black;
}

.fb, .linked, .git{
    color: #ccc;
}

.home-page > p{
    color: darkgray;
    text-align: center;
    font-size: 14px;
}